@import "../../lib/scss/breakpoints";

.BaseLayout {
    background: #eee;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    &_nav {
        margin: 20px 0;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                font-weight: bold;
            }
            margin-right: 20px;
        }
    }

    &_outer {
        $contentPadding: 5px;
        width: calc(100% - (#{$contentPadding} * 2));
        padding: 0 $contentPadding;
        @include largerThan($md + ($contentPadding * 2)) {
            padding: 0;
            max-width: $md;
        }
        margin: 0 auto;
    }
}
